extends layout

block content
  h1= title 
  h2 Le site de badistes pensé pour ses adhérents·es !
  h3 Ici, vous pouvez réserver un terrain de badminton pendant 45 minutes, du lundi au samedi, de 10h à 22h. Seule obligation, être identifié par un simple pseudo !
  h3 Liste des terrains
  ul
    each court in courts
      li= court.courtName